.home-cover{
  position: relative;
}
.cover_slider{
  padding: 0;
  margin: 0;
  width: 100%;
  display: block;
  position: relative;
  list-style: none;
  word-break: break-all;
  .slider-content-center{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  .slider-content-left{
    max-width: 800px;
    text-align: left;
  }
  .cover_item{
    width: 100%;
    position: relative;
    height: 100vh;
    min-height: 600px;
    padding: 150px 0;
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    .slider_content{
      display: table;
      //background-color: rgba(0, 0, 0, 0.6);
      height: 100%;
      width: 100%;
      position: relative;
      top: 0;
      bottom: 0;
      color: #ffffff;
      .slider-content-inner{
        display: table-cell;
        vertical-align: middle;
        .cover-title{
          margin-top: 25px;
          margin-bottom: 0;
          opacity: 0;
          font-weight: 500;
          color: #ffffff;
          text-transform: uppercase;
          -webkit-transform: translateY(20px);
          transform: translateY(20px);
          -webkit-transition: all 0.4s 600ms ease-in-out;
          transition: all 0.4s 600ms ease-in-out;
        }
        .cover-xl-text{
          opacity: 0;
          text-transform: uppercase;
          font-size: 90px;
          font-weight: 900;
          line-height: 1.1;
          color: #ffffff;
          -webkit-transform: translateY(20px);
          transform: translateY(20px);
          -webkit-transition: all 0.4s 600ms ease-in-out;
          transition: all 0.4s 600ms ease-in-out;
        }
        .cover-date{
          font-size: 18px;
          color:#ffffff;
          margin-bottom: 25px;
          text-transform: uppercase;
          opacity: 0;
          -webkit-transform: translateY(20px);
          transform: translateY(20px);
          -webkit-transition: all 0.4s 900ms ease-in-out;
          transition: all 0.4s 900ms ease-in-out;
        }
        a{
          opacity: 0;
          -webkit-transform: translateY(20px);
          transform: translateY(20px);
          -webkit-transition:  transform  0.4s 1200ms ease-in-out, opacity 0.4s 1200ms ease-in-out;
          transition:  transform  0.4s 1200ms ease-in-out, opacity 0.4s 1200ms ease-in-out;
        }
      }
    }
  }
  .active .slider_content .slider-content-inner *{
    .cover-title{
      opacity: 1;
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      -webkit-transition: all 0.4s 300ms ease-in-out;
      transition: all 0.4s 300ms ease-in-out;
    }
    .cover-xl-text{
      opacity: 1;
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      -webkit-transition: all 0.4s 600ms ease-in-out;
      transition: all 0.4s 600ms ease-in-out;
    }
    .cover-date{
      opacity: 1;
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      -webkit-transition: all 0.4s 900ms ease-in-out;
      transition: all 0.4s 900ms ease-in-out;
    }
    a{
      opacity: 1;
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      -webkit-transition: all 0.4s 1200ms ease-in-out, opacity 0.4s 1200ms ease-in-out, color 0.4s ease-in-out, border 0.4s  ease-in-out, background-color 0.4s  ease-in-out;
      transition:  all 0.4s 1200ms ease-in-out, opacity 0.4s 1200ms ease-in-out, color 0.4s  ease-in-out, border 0.4s  ease-in-out, background-color 0.4s  ease-in-out;

    }
  }
  .owl-dots{
    bottom: 25px;
    text-align: center;
    position: absolute;
    width: 100%;
    .owl-dot span {
      width: 15px;
      height: 2px;
      margin: 5px;
      background: rgba(255, 255, 255, 0.5);
      display: block;
      -webkit-backface-visibility: visible;
      @include single-transition(all,0.4s, ease-in-out);
    }
    .owl-dot.active span{
      background: $color-light;
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      @include single-transition(all,0.4s, ease-in-out);
    }
  }
}

.cover_nav{
  position: relative;
  bottom: 0;
  z-index: 999;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  top: -40px;
  .cover_dots{
    padding: 15px 90px;
    margin: 0 auto;
    text-align: center;
    float: none;
    width: auto;
    display: inline-block;
    list-style: none;
    position: relative;
    background-color: #ffffff;
    top: -14px;
    border-top-left-radius: 51px;
    border-top-right-radius: 51px;
    li{
      display: inline-block;
      border: solid 2px transparent;
      border-radius: 14px;
      margin: 0;
      width: 30px;
      height: 40px;
      text-align: center;
      font-size: 16px;
      padding: 5px 0;
      font-weight: 500;
      color: #000000;
    }
    li.active{
      border: solid 2px $color-primary;
    }
    &:before{
      content: " ";
      display: block;
      z-index: 99999;
      position: absolute;
      left: -30px;
      bottom: 0;
      top: 21px;
      border-top-left-radius: 0;
      width: 0;
      height: 0;
      border-bottom: 40px solid white;
      border-left: 40px solid transparent;
    }
    &:after{
      content: " ";
      display: block;
      z-index: 99999;
      position: absolute;
      right: -30px;
      bottom: 0;
      top: 21px;
      border-top-left-radius: 0;
      width: 0;
      height: 0;
      border-bottom: 40px solid #ffffff;
      border-right: 40px solid transparent;
    }
  }
}



.inner_cover {
  min-height: 400px;
  position: relative;
  background-position: center center;
  background-size: cover;
  .overlay_dark {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(31, 31, 32, 0.6);
  }
  .inner_cover_content {
    padding: 170px 0;
    h3 {
      text-transform: capitalize;
      color: $color-light;
      font-size: 48px;
      font-weight: 500;
    }
  }
}

.breadcrumbs{
  position: absolute;
  bottom: -1px;
  margin: 0;
  ul{
    padding: 5px 90px;
    margin: 0 auto;
    text-align: center;
    float: none;
    bottom: 0;
    min-height: 50px;
    position: relative;
    width: auto;
    display: inline-block;
    list-style: none;
    background-color:  $color-light;
    color: $color-black;
    border-top-left-radius: 51px;
    border-top-right-radius: 51px;
    &:before {
      content: " ";
      display: block;
      position: absolute;
      left: -30px;
      bottom: 0;
      top: 21px;
      border-top-left-radius: 0;
      width: 0;
      height: 0;
      border-bottom: 40px solid $color-light;
      border-left: 40px solid transparent;
    }
    &:after {
      display: block;
      position: absolute;
      right: -30px;
      bottom: 0;
      top: 21px;
      border-top-left-radius: 0;
      width: 0;
      height: 0;
      border-bottom: 40px solid $color-light;
      border-right: 40px solid transparent;
      content: " ";
    }

    li{
      display: inline-block;
      a {
        padding: 13px;
        font-size: 12px;
        font-weight: 600;
        display: inline-block;
        color: $color-black;
      }
      span{
        padding: 13px;
        font-size: 12px;
        font-weight: 600;
        color: $color-primary;
      }
    }
  }
}


@media(max-width:767px){

  .cover_slider{
    .cover_item{
      .slider_content{
        .slider-content-inner{
          .cover-title{
            font-size: 18px;
          }
          .cover-xl-text{
            font-size: 46px;
          }
          .cover-date{
            font-size: 14px;
          }
        }
      }
    }
  }

  .breadcrumbs ul{
    padding: 5px 30px;
  }
}