#platinum-sponsors {
  h5 {
    font-size: 24px;
  }
  img {
    height: 200px;
  }
}

#gold-sponsors {
  h5 {
    font-size: 18px;
  }
  img {
    height: 150px;
  }
}

#silver-sponsors {
  h5 {
    font-size: 14px;
  }
  img {
    height: 100px;
  }
}

