.workshop-flow {
  .cover {
    background-image: url("/img/workshop-flow/cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .title {
      margin: 10px;

      h1 {
        color: white;
        text-align: center;
        text-transform: uppercase;
        font-size: 3em;
        font-weight: 900;
        line-height: 1.1;

        @media (max-width: 767px) {
          font-size: 2.2em;
        }
      }

      h2 {
        color: white;
        text-align: center;
        font-size: 2em;

        @media (max-width: 767px) {
          font-size: 1.4em;
        }
      }
    }
  }

  .accordion {
    h4 {
      margin: 10px 0;
    }
    .card-body {
      color: black;
    }
    .card-header {
      button {
        text-align: left;
        width: 100%;
        background-color: $color-primary;
      }
    }
  }
}
