
//main header
header{
  background-color: black;
  min-height: 50px;
  padding: 0;
  margin:0;
  margin-top: 20px;
  @include single-transition(all,ease-in-out,0.4s);
  .menu{
    position: relative;
  }

  .logo{
    padding-top: 0;
    padding-bottom: 0;
    img{
      float: left;
      max-width: 160px;
      margin-right: 3px;
    }
  }

  ul.menu li{
    a.nav-link{
      padding: 20px 12px !important;
      font-size: 12px;
      letter-spacing: 1px;
      font-weight: 400;
      display: block;
      text-transform: uppercase;
      color: $color-light;
      &:hover{
        color: $color-primary;
      }
    }
  }

  ul.menu .search_btn{
    padding: 16px 8px !important;
    color: $color-light;
    a{
      font-size: 30px;
    }
  }



  li{
    ul{
      display: none;
      visibility: hidden;
    }
    ul.sub_menu{
      position: absolute;
      background: $color-dark;
      min-width: 250px;
      padding: 10px;
      border-radius: 3px;
      box-shadow: 1px 1px 42px rgba(0, 0, 0, 0.08);
      li{
        display: block;
        a{
          color: #999999 !important;
          padding:7px 10px;
          display: block;
          margin-left: 0;
          line-height: 22px;
          word-break: break-word;
          &:hover{
            color: #ffffff !important;
            transform: translate3d(2px, 0, 0);
            -webkit-transform: translate3d(2px, 0, 0);
          }
        }
      }
    }
  }

}

.navbar{
  padding: 0;
  i {
    font-size: 18px;
  }
}

//sticky header
header.sticky_header{
  background-color: #18181c;
  margin: 0;
  padding: 5px;
    -webkit-box-shadow: 0 0 42px rgba(0,0,0,0.08);
    box-shadow: 0 0 42px rgba(0,0,0,0.08);
    @include single-transition(all,ease-in-out,0.4s);
}

//menu button
.navbar-toggler{
  border: 1px solid $color-light;
  color: $color-light;
  padding: 5px 10px;
  font-size: 22px;
  outline: 0 !important;
  box-shadow: 0 0 0 !important;
  cursor: pointer;
  border-radius: 2px;
}


@media (min-width:767px){
  header li:hover > ul{
    display: block;
    visibility: visible;
  }
}


@media(max-width:767px){
    header{
      background-color: #18181c;
      margin: 0;
      -webkit-box-shadow: 0 0 42px rgba(0,0,0,0.08);
      box-shadow: 0 0 42px rgba(0,0,0,0.08);
      @include single-transition(all,ease-in-out,0.4s);

      .container{
        padding: 15px !important;
      }
    }
  header li > ul{
    position: static;
    visibility: visible;
    width: 100%;
  }
}